*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  margin: 40px 20px 0px 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 50px;
    transition: transform 1s cubic-bezier(0.57, 0.31, 0.44, 1) ;

    /* background-image: url('.\images\odisha.jpg');
    background-repeat: no-repeat;
    background-size: 50%; */

}


.container .heading #des{
  /* animation: forwards infinite ;   */
  /* transition: all 5s linear ; */
  transform: translate(0%);
  animation: animate 5s linear infinite;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px ;
    border-bottom: 3px solid #222;

    transform: translate(0%);
    animation: animate 5s linear infinite;
    
}

@keyframes animate{
    0%{
        width: 80%;
    }
    50%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}

.container .heading h3 span{
    font-weight: 100;  
    
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.container .box .image{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .image img{
    width: 100%;
    padding-bottom: 15px ;
    border-radius: 5px 5px 20px 20px;
    
}




@media only Screen and (max-width: 494px){
    .container .box{
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
    }
    .container .box .image{
        /* display: flex;
        flex-direction: column; */
        width: 100%;
    }
    
}

@media only Screen and (max-width: 769px){

    .container .heading{
        width: 100%;
        /* padding-bottom: 50px; */
    }
    
    .container .heading h3{
        font-size: 1em;
        /* font-weight: bolder;
        padding-bottom: 10px ;
        border-bottom: 3px solid #222; */
        
    }
    
}

